@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes.css";

/* Global styles using CSS variables from themes.css */
:root {
  --foreground-rgb: var(--text-color);
  --background-start-rgb: var(--main-bg);
  --background-end-rgb: var(--main-bg);
}

body {
  background: linear-gradient(
    90deg,
    var(--background-start-rgb),
    var(--background-end-rgb)
  );
  color: var(--foreground-rgb);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--text-color);
    --background-start-rgb: var(--main-bg);
    --background-end-rgb: var(--main-bg);
  }
}
